* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flexbox 연습 영역 */
.flex-container {
  display: flex;
  margin: auto;
  width: 80vw;
  height: 80vh;
  border: 2px dashed #000;

  /* 아래에 적절한 flexbox 관련 속성과 값을 작성해서 문제 해결  */

  /* 중앙 정렬 */
  /* justify-content: center; */
  /* 양 끝 균등 정렬 */
  /* justify-content: space-between; */
  /* 끝 정렬 */
  /* justify-content: flex-end; */
  /* 균등한 여백 정렬 */
  /* justify-content: space-around; */
  /* 교차 축 정렬 중앙 정렬 */
  /* align-items: center; */
  /* 역방향 중앙 정렬 */
  /* align-items: center;
  justify-content: flex-end; */
  /* 단일 플렉스 아이템 교차축 정렬
  노란색 박스 교차축 끝 정렬 */
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 0.5rem;
}
.box-1 {
  background-color: #60a5fa;
}
.box-2 {
  background-color: #f87171;
}
.box-3 {
  background-color: #34d399;
}
.box-4 {
  background-color: #facc15;
}
